 <div class="firstblock">
    闇金ウシジマくん版１６タイプ性格診断
    </div>
    <div class="secondblock">  

    <div class="imagebox">  
    <%= image_tag 'image1.jpg', size: "450x450",class: 'hoge' %>
    </div>
        <div class="start">
            <%= link_to "診断スタート!!!", new_sindan_path, class: "link" %>
        </div>
   
    </div>